.greetings-section {
  min-height: 100vh;
}

.greetings-section h1 {
  font-size: 2.9vw;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.1em;
}

.greetings-first-text {
  animation: typing 1.5s steps(50, end), blinking 0.8s step-end 2;
}

.greetings-second-text {
  width: 0%;
  animation: typing 2s steps(50, end) 1.8s forwards,
    blinking 0.8s step-end 1.8s infinite;
}

@media screen and (min-width: 400px) {
  .greetings-first-text,
  .greetings-second-text {
    font-size: 3.5vw !important;
  }
}

@media screen and (min-width: 700px) {
  .greetings-first-text,
  .greetings-second-text {
    font-size: 3.9vw !important;
  }
}

@media screen and (min-width: 750px) {
  .greetings-first-text,
  .greetings-second-text {
    font-size: var(--fs-700) !important;
  }
}

@media screen and (min-width: 1000px) {
  .greetings-first-text,
  .greetings-second-text {
    font-size: var(--fs-900) !important;
  }
}

/* The typing effect */
@keyframes typing {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes blinking {
  from,
  to {
    border-color: var(--color-primary);
    border-right: 0.15em solid var(--color-primary);
  }
  50% {
    border-color: transparent;
  }
}
