@media screen and (min-width: 500px) {
  .project-links {
    justify-content: center;
  }
}

/* .project-links {
  gap: 1rem;
}

.project-links a {
  border: 1px solid pink;
  padding: 0 0.5rem;
} */
