/* .project-technology__lists {
  padding: 0;
  display: grid;
  gap: 0.5rem;
}

.project-technology__lists li {
  border: 1px solid pink;
  background-color: var(--color-primary);
  color: black;
}

@media screen and (min-width: 300px) {
  .project-technology__lists {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 900px) {
  .project-technology__lists {
    width: 80%;
  }

  .project-technology__lists li {
    max-width: 150px;
  }
}

@media screen and (min-width: 1500px) {
  .project-technology__lists {
    grid-template-columns: repeat(5, 1fr);
  }
} */
