.d-flex {
  display: flex;
}

.align-items-start {
  align-items: start;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.flex-direction-column {
  flex-direction: column;
}
