:root {
  --color-primary: rgb(231, 198, 255);
  --color-primary-500: rgba(231, 198, 255, 0.7);
  --color-secondary: rgb(255, 255, 255);

  --fs-500: 1rem;
  --fs-600: 1.5rem;
  --fs-700: 1.8rem;
  --fs-900: 2rem;
}
