/* Margins start */

.mt-8 {
  margin-top: 2rem;
}

.mt-16 {
  margin-top: 4rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

/* Margins end */

/* Padding start */
.pa-0 {
  padding: 0;
}

.pb-4 {
  padding-bottom: 1rem;
}

.px-4 {
  padding: 0 1rem;
}

/* Padding end */
