.App {
  margin: 0 1rem;
}

@media screen and (min-width: 400px) {
  .App {
    padding: 0 2rem;
    margin: auto;
  }
}

@media screen and (min-width: 1500px) {
  .App {
    max-width: 1500px;
  }
}
